$primary: #334939;

$light: #fdfffd;

$hovered: #596e5f;
$active: #57b872;

$grayscale4: rgb(155, 155, 155);

$dark: #2e2e2e;

* {
    margin: 0;
    padding: 0;
}

body {
    color: $dark;
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    // font-family: Georgia, 'Times New Roman', Times, serif
}