$primary: #2e5f3c;
$light: #fafafa;
$active: green;
$secondary: rgb(153, 153, 153);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    // font-family: Georgia, 'Times New Roman', Times, serif
}